::ng-deep .mat-chip-list-wrapper {
  margin: 0 !important;
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: #f6f5fa;
  h1 {
    color: #2b2937;
    margin: 0;
  }
}

form {
  color: #2b2937;
  .container {
    padding: 20px;
  }

  .mat-form-field {
    width: 100%;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    .select-block {
      width: 45%;
    }
  }

  .working-days {
    .mat-checkbox {
      margin-right: 25px;
    }
    margin-bottom: 25px;
  }

  .chip-block {
    width: 100%;
    display: flex;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 2px 5px;
    justify-content: space-between;
    margin-bottom: 25px;

    .icons-block {
      .mat-icon {
        margin-top: 8px;
        cursor: pointer;
      }
    }
  }

  .footer {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    background: #f6f5fa;
    button {
        margin-right: 20px;
    }
  }
}
